<div class="background-coffee">
  <div class="overlay">
    <div class="vertical-align centered">
      <div class="row">
        <h3>Vous preferez votre café :</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 elements-quest" id="quest_coffee">

          <div class="col-lg-3 col-md-3">
            <a ui-sref="questionnaire.juice" ng-class="{selected: newuser.survey.quest_1 == true}" class="btn button-overlay" ng-click="newuser.survey.quest_1 = true">Noir</a>
          </div>
          <div class="col-lg-3 col-md-3">
            <a ui-sref="questionnaire.juice" ng-class="{selected: newuser.survey.quest_2 == true}" class="btn button-overlay" ng-click="newuser.survey.quest_2 = true">Avec du sucre</a>
          </div>
          <div class="col-lg-3 col-md-3">
            <a ui-sref="questionnaire.juice" ng-class="{selected: newuser.survey.quest_3 == true}" class="btn button-overlay" ng-click="newuser.survey.quest_3 = true">Avec de la crème ou du lait</a>
          </div>
          <div class="col-lg-3 col-md-3">
            <a ui-sref="questionnaire.juice" ng-class="{selected: newuser.survey.quest_4 == true}" class="btn button-overlay" ng-click="newuser.survey.quest_4 = true">Je ne prends pas de café</a>
          </div>

        </div>
      </div>
    </div>
<!--     <div class="navlinks-right">
      <a ui-sref="questionnaire.juice"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div> -->
  </div>

        <script type="text/ng-template" id="myModalContent.html">

            <div class="modal-body">
                <h3 class="modal-title">Démarrer l'aventure vinify</h3>
                <p>Merci de rentrer votre adresse email pour démarrer l'aventure :)</p>
                  <div class="input-group col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <input type="email"
                        name="email"
                        ng-model="selectedEmail.email"
                        placeholder="Email"
                        required
                        class="form-control"
                        id="email"/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="ok()">Go!</button>
                    </span>
                  </div>
            </div>

        </script>

</div>