<div class="background-balance">
  <div class="progressbar">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="progress-whole"></div>
    <div></div>
  </div>
  <div class="overlay">
    <div class="form-errors fader" ng-show="answerAll">
      Merci de choisir une préférence pour chaque type de vin, puis valider avec la flèche
    </div>
    <div class="form-errors fader" ng-show="nowine">
      Vous ne voulez pas de vins dans votre Vinibar :) ?
    </div>
    <div class="vertical-align centered  vertical-align-mobile">
        <div class="row">
          <h3>Composez votre Vinibar</h3>
          <p>(Indiquez vos préférences par type de vin)</p>
        </div>

        <div class="row" id="quest_balance">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <h4>Vin Rouge</h4>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_1 == 2}"
                      ng-click="newuser.survey.quest_6.answ_1 = 2;">Beaucoup</button><br>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_1 == 1}"
                      ng-click="newuser.survey.quest_6.answ_1 = 1">Un peu</button><br>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_1 == 0}"
                      ng-click="newuser.survey.quest_6.answ_1 = 0">Pas</button><br>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <h4>Vin Blanc</h4>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_2 == 2}"
                      ng-click="newuser.survey.quest_6.answ_2 = 2">Beaucoup</button><br>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_2 == 1}"
                      ng-click="newuser.survey.quest_6.answ_2 = 1">Un peu</button><br>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_2 == 0}"
                      ng-click="newuser.survey.quest_6.answ_2 = 0">Pas</button><br>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <h4>Vin Rosé</h4>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_3 == 2}"
                      ng-click="newuser.survey.quest_6.answ_3 = 2">Beaucoup</button><br>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_3 == 1}"
                      ng-click="newuser.survey.quest_6.answ_3 = 1">Un peu</button><br>
              <button class="btn button-overlay"
                      ng-class="{selected: newuser.survey.quest_6.answ_3 == 0}"
                      ng-click="newuser.survey.quest_6.answ_3 = 0">Pas</button><br>
            </div>
          </div>
      </div>
    </div>
    <div class="navlinks">
      <a ui-sref="questionnaire.starter"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </div>
    <div class="navlinks-right">
      <a href ng-click="validateBalanceAnswer()"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>
</div>