<div class="background-cuisine">
  <div class="progressbar">
    <div class="progress-whole"></div>
    <div class="progress-whole"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="overlay">
    <div class="form-errors fader" ng-show="answerOne">
      Merci de choisir au moins une cuisine, puis valider avec la flèche
    </div>
    <div class="vertical-align centered">
      <div class="row">
        <h3>Vous aimez les cuisines :</h3>
        <p>Plusieurs choix possibles</p>
      </div>
      <div class="row" id="quest_cuisine">
        <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">

          <button class="btn button-overlay"
                  ng-class="{selected: newuser.survey.quest_3.answ_1 == true}"
                  ng-click="newuser.survey.quest_3.answ_1 = !newuser.survey.quest_3.answ_1">Française</button><br>
          <button class="btn button-overlay"
                  ng-class="{selected: newuser.survey.quest_3.answ_2 == true}"
                  ng-click="newuser.survey.quest_3.answ_2 = !newuser.survey.quest_3.answ_2">Italienne</button><br>
          <button class="btn button-overlay"
                  ng-class="{selected: newuser.survey.quest_3.answ_3 == true}"
                  ng-click="newuser.survey.quest_3.answ_3 = !newuser.survey.quest_3.answ_3">Asiatique</button><br>
        </div>

        <div class="col-lg-4 col-md-4">
          <button class="btn button-overlay" analytics-on="click" analytics-event="Button 1" analytics-category="Commands"
                  ng-class="{selected: newuser.survey.quest_3.answ_4 == true}"
                  ng-click="newuser.survey.quest_3.answ_4 = !newuser.survey.quest_3.answ_4">Américaine</button><br>
          <button class="btn button-overlay" analytics-on="click" analytics-event="Button 2" analytics-category="Commands"
                  ng-class="{selected: newuser.survey.quest_3.answ_5 == true}"
                  ng-click="newuser.survey.quest_3.answ_5 = !newuser.survey.quest_3.answ_5">Végétarienne</button><br>
        </div>
      </div>
    </div>
    <div class="navlinks">
      <a ui-sref="questionnaire.juice"><i class="fa icon-chevron-left"></i></a>
    </div>
    <div class="navlinks-right">
      <a href ng-click="validateCuisineAnswer()" ><i class="fa icon-chevron-right"></i></a>
    </div>

  </div>
</div>