<div class="background-starter">
  <div class="progressbar">
    <div class="progress-whole"></div>
    <div class="progress-whole"></div>
    <div class="progress-whole"></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
    <div class="overlay">
        <div class="vertical-align centered">
            <div class="row">
                <h3>Quels plats vous font envie ?</h3>
                <p>Plusieurs choix possibles</p>
            </div>
            <div class="row" id="quest_starter">
              <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
                <h4>En entrée</h4>
                <button class="btn button-overlay"
                        ng-class="{selected: newuser.survey.quest_4.answ_1 == true}"
                        ng-click="newuser.survey.quest_4.answ_1 = !newuser.survey.quest_4.answ_1">Assiette d'huîtres</button><br>
                <button class="btn button-overlay"
                        ng-class="{selected: newuser.survey.quest_4.answ_2 == true}"
                        ng-click="newuser.survey.quest_4.answ_2 = !newuser.survey.quest_4.answ_2">Pain toasté et tapenade d'olives</button><br>
                <button class="btn button-overlay"
                        ng-class="{selected: newuser.survey.quest_4.answ_3 == true}"
                        ng-click="newuser.survey.quest_4.answ_3 = !newuser.survey.quest_4.answ_3">Foie gras et pain d'épices</button><br>
              </div>

              <div class="col-lg-4 col-md-4">
                <h4>Au dessert</h4>
                <button class="btn button-overlay"
                        ng-class="{selected: newuser.survey.quest_5.answ_1 == true}"
                        ng-click="newuser.survey.quest_5.answ_1 = !newuser.survey.quest_5.answ_1">Mille-feuille à la vanille</button><br>
                <button class="btn button-overlay"
                        ng-class="{selected: newuser.survey.quest_5.answ_2 == true}"
                        ng-click="newuser.survey.quest_5.answ_2 = !newuser.survey.quest_5.answ_2">Ganache chocolat à la cannelle</button><br>
                <button class="btn button-overlay"
                        ng-class="{selected: newuser.survey.quest_5.answ_3 == true}"
                        ng-click="newuser.survey.quest_5.answ_3 = !newuser.survey.quest_5.answ_3">Carpaccio de fruits & sorbet</button><br>

              </div>
            </div>
        </div>
        <div class="navlinks">
          <a ui-sref="questionnaire.cuisine"><i class="fa icon-chevron-left"></i></a>
        </div>
        <div class="navlinks-right">
          <a ui-sref="questionnaire.balance"><i class="fa icon-chevron-right"></i></a>
        </div>
    </div>
</div>

<script>
      var comments_bckg = new Image ();
    comments_bckg.src = "assets/vinibar3.jpg";
</script>