<div class="background-coffee">
  <div class="progressbar">
    <div class="progress-whole"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="overlay">
    <div class="vertical-align centered">
      <div class="row">
        <h3>Vous preferez votre café :</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 elements-quest" id="quest_coffee">

          <div class="col-lg-3 col-md-3">
            <a ui-sref="questionnaire.juice" ng-class="{selected: newuser.survey.quest_1.answ == 1}" class="btn button-overlay" ng-click="newuser.survey.quest_1.answ = 1 ">Noir</a>
          </div>
          <div class="col-lg-3 col-md-3">
            <a ui-sref="questionnaire.juice" ng-class="{selected: newuser.survey.quest_1.answ == 2}" class="btn button-overlay" ng-click="newuser.survey.quest_1.answ = 2">Avec du sucre</a>
          </div>
          <div class="col-lg-3 col-md-3">
            <a ui-sref="questionnaire.juice" ng-class="{selected: newuser.survey.quest_1.answ == 3}" class="btn button-overlay" ng-click="newuser.survey.quest_1.answ = 3">Avec du lait</a>
          </div>
          <div class="col-lg-3 col-md-3">
            <a ui-sref="questionnaire.juice" ng-class="{selected: newuser.survey.quest_1.answ == 4}" class="btn button-overlay" ng-click="newuser.survey.quest_1.answ = 4">Je n'en prends pas</a>
          </div>

        </div>
      </div>
    </div>
<!--     <div class="navlinks-right">
      <a ui-sref="questionnaire.juice"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div> -->
  </div>
</div>