<div class="background-juice">
  <div class="progressbar">
    <div></div>
    <div class="progress-whole"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="overlay">
    <div class="vertical-align centered">
      <div class="row">
        <h3>Pour vous désaltérer, ce sera ... </h3>
      </div>
      <div class="row">
        <div class="elements-quest" id="quest_juice">

          <div class="col-lg-4 col-md-4">
            <a ui-sref="questionnaire.cuisine" ng-class="{selected: newuser.survey.quest_2.answ == 1}" class="btn button-overlay" ng-click="newuser.survey.quest_2.answ = 1">Un jus de pamplemousse</a>
          </div>
          <div class="col-lg-4 col-md-4">
            <a ui-sref="questionnaire.cuisine" ng-class="{selected: newuser.survey.quest_2.answ == 2}" class="btn button-overlay" ng-click="newuser.survey.quest_2.answ = 2">Un jus de pomme</a>
          </div>
          <div class="col-lg-4 col-md-4">
            <a ui-sref="questionnaire.cuisine" ng-class="{selected: newuser.survey.quest_2.answ == 3}" class="btn button-overlay" ng-click="newuser.survey.quest_2.answ = 3">Un jus de fruits exotiques</a>
          </div>

        </div>
      </div>
    </div>
    <div class="navlinks">
      <a ui-sref="questionnaire.coffee"><i class="fa icon-chevron-left"></i></a>
    </div>
<!--     <div class="navlinks-right">
      <a ui-sref="questionnaire.cuisine"><i class="fa icon-chevron-right"></i></a>
    </div> -->
  </div>
</div>