<div class="gift-header">
  <h1>offrir un vinibar</h1>
  <h2>Je remplis ses coordonnées</h2>
</div>
<form novalidate name="infos" ng-submit="toSurvey(infos)">
  <div class="row container-fluid">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">L'heureux élu</h2>
      <div class="col-container">
        <p class="col-subtitle">Glissez un mot doux dans son Vinibar</p>
        <div class="gift-receiver">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <p class="">Civilité</p>
              <select name="" id="" ng-model="gift.order.sex" class="form-control input-error"
                            ng-class="{'input-error' : infos.submitted && gift.order.sex.$invalid}"
                            required>
                <option value="m">M.</option>
                <option value="f">Mme</option>
              </select>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <p class="">Prénom</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_first_name"
                            ng-class="{'input-error' : infos.submitted && gift.order.receiver_first_name.$invalid}"
                            required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="">Email</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_email"
                            ng-class="{'input-error' : infos.submitted && gift.order.receiver_email.$invalid}"
                            required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="">Message</p>
              <textarea ng-model="gift.order.message" class="form-control" rows="6"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Livraison</h2>
      <div class="col-container">
        <p class="col-subtitle">Vous pouvez vous faire livrer le premier bar si vous voulez l'offrir vous même</p>
        <div class="gift-receiver">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Prénom</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_address.first_name"
                            ng-class="{'input-error' : infos.submitted && gift.order.receiver_address.first_name.$invalid}"
                            required>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Nom</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_address.last_name"
                            ng-class="{'input-error' : infos.submitted && gift.order.receiver_address.last_name.$invalid}"
                            required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="">Rue</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_address.street"
                            ng-class="{'input-error' : infos.submitted && gift.order.receiver_address.street.$invalid}"
                            required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Code Postal</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_address.zipcode"
                            ng-class="{'input-error' : infos.submitted && gift.order.receiver_address.zipcode.$invalid}"
                            required>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Ville</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_address.city"
                            ng-class="{'input-error' : infos.submitted && gift.order.receiver_address.city.$invalid}"
                            required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Code</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_address.digicode">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Interphone</p>
              <input type="text" class="form-control" ng-model="gift.order.receiver_address.intercom">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="">Informations Complémentaires</p>
                <textarea class="form-control" rows="2" ng-model="gift.order.receiver_address.other_info" placeholder="Société, Bâtiment, Escalier, Etage ..." id="gift.order.receiver_address.other_info"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="col-title">Moi</h2>
        <div class="col-container">
          <p class="col-subtitle">Je ne suis pas encore client Vinify</p>
          <div class="gift-giver gift-giver-new">
            <form action="">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <p class="">Prénom</p>
                  <input type="text" class="form-control" ng-model="gift.giver.first_name">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <p class="">Nom</p>
                  <input type="text" class="form-control" ng-model="gift.giver.last_name">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <p class="">Email</p>
                  <input type="text" class="form-control" ng-model="gift.giver.email">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <p class="">Mot de Passe</p>
                  <input type="password" class="form-control" ng-model="gift.giver.password">
                </div>
              </div>
          </div>
        </div>
        <div class="col-container margin-top" >
          <p class="col-subtitle">Je ne suis pas déja client Vinify</p>
          <div class="gift-giver">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p class="">Email</p>
                <input type="text" class="form-control" ng-model="gift.client.username">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p class="">Mot de Passe</p>
                <input type="password" class="form-control" ng-model="gift.client.password">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row container-fluid">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
        <button type="submit" class="btn_block_primary centered margin-top"><p>Continuer</p></button>
    </div>
  </div>
</form>