<div class="gift-header">
  <h1>offrir un vinibar</h1>
  <h2>Je remplis ses coordonnées</h2>
</div>
<div class="row container-fluid">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Moi</h2>
      <div class="gift-checkbox" ng-hide="logged">
        <p class="col-subtitle">Je ne suis pas encore client Vinify</p>
        <div class="gift-giver gift-giver-new">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Prénom</p>
              <input type="text" class="form-control" ng-model="gift.giver.first_name">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Nom</p>
              <input type="text" class="form-control" ng-model="gift.giver.last_name">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Email</p>
              <input type="text" class="form-control" ng-model="gift.giver.email">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Mot de Passe</p>
              <input type="password" class="form-control" ng-model="gift.giver.password">
            </div>
          </div>
        </div>
      </div>
      <div class="btn_block_primary_o centered margin-top" ng-click="createGiver()"><p>Créer mon compte</p></div>
      <div class="gift-checkbox margin-top"  ng-hide="logged">
        <p class="col-subtitle">Je ne suis pas déja client Vinify</p>
        <div class="gift-giver">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Email</p>
              <input type="text" class="form-control" ng-model="gift.client.username">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Mot de Passe</p>
              <input type="password" class="form-control" ng-model="gift.client.password">
            </div>
          </div>
        </div>
      </div>
      <div class="btn_block_primary_o centered margin-top" ng-click="logGiver()"><p>Login</p></div>
      <div class="gift-checkbox" ng-show="logged">
        <p class="col-subtitle">Bonjour, {{gift.giver.first_name}}</p>
        <p>Vous vous apprêtez à faire un heureux !</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">L'heureux élu</h2>
      <div class="gift-checkbox">
        <p class="col-subtitle">Glissez un mot doux dans son Vinibar</p>
        <div class="gift-receiver">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <p class="">Civilité</p>
              <select name="" id="" ng-model="gift.orderUpdate.sex" class="form-control">
                <option value="m">M.</option>
                <option value="f">Mme</option>
              </select>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <p class="">Prénom</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.first_name">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="">Email</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.email">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="">Message</p>
              <textarea ng-model="gift.orderUpdate.message" class="form-control" rows="6"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Livraison</h2>
      <div class="gift-checkbox">
        <p class="col-subtitle">Vous pouvez vous faire livrer le premier bar si vous voulez l'offrir vous même</p>
        <div class="gift-receiver">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Prénom</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.address.first_name">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Nom</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.address.last_name">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="">Rue</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.address.street">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Code Postal</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.address.zipcode">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Ville</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.address.city">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Code</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.address.digicode">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="">Interphone</p>
              <input type="text" class="form-control" ng-model="gift.orderUpdate.address.intercom">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="">Informations Complémentaires</p>
                <textarea class="form-control" rows="2" ng-model="gift.orderUpdate.address.other_info" placeholder="Société, Bâtiment, Escalier, Etage ..." id="gift.orderUpdate.address.other_info"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_block_primary centered margin-top" ui-sref="gift.vinibar.quiz" >Continuer</div>
    </div>
</div>