<div class="gift-header">
  <h1>offrir un vinibar</h1>
  <h2>Vous êtes sur le point de rendre quelqu'un heureux !</h2>
</div>
<div class="row container-fluid">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h2 class="col-title">Mon cadeau</h2>
    <div class="col-container">
      <table class="table-bill">
          <tr>
            <td><p>Vinibar </p></td>
            <td><p>69&nbsp;€</p></td>
          </tr>
          <tr>
            <td><p>Livraison </p></td>
            <td>
              <p>
                {{gift.order.delivery_cost}}&nbsp;€
              </p>
            </td>
          </tr>
          <tr ng-show="gift.order.credits">
            <td><p>Recharges </p></td>
            <td><p>{{gift.order.credits}}&nbsp;€</p></td>
          </tr>
          <tr  class="">
            <td><h4>Total </h4></td>
            <td><h4>{{69 + delivery.cost - client.order.coupon.value | number:1}}&nbsp;€</h4></td>
          </tr>
      </table>
    </div>
    <h2 class="col-title">Paiement</h2>
    <div class="col-container centered">
       <form name="stripe-form" id="stripe-form" stripe-form="submit">
         <div class="row">
           <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <p class="">Numéro de carte</p>
               <i class="icon ion-card"></i> <input class="form-control" type="text" name="number" id="number" ng-model="number" placeholder="XXXX XXXX XXXX XXXX" payments-validate="card" payments-type-model="type" payments-format="card"  required/>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p class="">CVC</p>
               <i class="icon ion-locked"></i> <input class="form-control" type="text" name="cvc" id="cvc" ng-model="cvc" placeholder="XXX" payments-validate="cvc" payments-format="cvc" required/>
           </div>
         </div>
         <div class="row">
           <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

               <p class="">Mois</p>
               <select class="form-control" name="expMonth" ng-model="expMonth" placeholder="MM"required>
                 <option value="01">Janvier</option>
                 <option value="02">Février</option>
                 <option value="03">Mars</option>
                 <option value="04">Avril</option>
                 <option value="05">Mai</option>
                 <option value="06">Juin</option>
                 <option value="07">Juillet</option>
                 <option value="08">Août</option>
                 <option value="09">Septembre</option>
                 <option value="10">Octobre</option>
                 <option value="11">Novembre</option>
                 <option value="12">Décembre</option>
               </select>

  <!--             <label class=-input">
               <i class="icon ion-ios7-calendar-outline"></i> <input type="text" name="expiry" id="expiry" ng-model="expiry" placeholder="MM" payments-validate="expiry" payments-format="expiry" required/>
             </label> -->
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

               <p class="">Année</p>
               <select class="form-control" name="expYear" ng-model="expYear" required>
                 <option>2014</option>
                 <option>2015</option>
                 <option>2016</option>
                 <option>2017</option>
                 <option>2018</option>
                 <option>2019</option>
                 <option>2020</option>
               </select>

  <!--             <label class=-input">
               <i class="icon ion-locked"></i> <input type="text" name="cvc" id="cvc" ng-model="cvc" placeholder="CVC" payments-validate="cvc" payments-format="cvc" required/>
             </label> -->
           </div>
         </div>
         <div class="row row-submit centered">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div><input type="hidden" name="name" ng-model="gift.giver.last_name"/></div>
            <div class="btn_block_primary centered margin-top"  ng-click="updateSurvey(gift)" ><button class="btn btn_square" value="submit">Offrir mon cadeau</button></div>
         </div>
         </div>
       </form>
    </div>
    <div class="centered">
       <img src="assets/credit_cards.png" alt=""> <i class="fa fa-lock"></i> <p>SSL Secure</p>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h2 class="col-title">Envoyé à</h2>
    <div class="col-container centered">
      <p>{{gift.order.receiver_address.first_name}} {{gift.order.receiver_address.last_name}}</p>
      <p>{{gift.order.receiver_address.street}}</p>
      <p>{{gift.order.receiver_address.zipcode}} {{gift.order.receiver_address.city}}</p>
    </div>
  </div>
</div>
