<div class="gift-header">
  <h1>offrir un vinibar</h1>
  <h2>Je réponds au quiz vinify</h2>
</div>
<div id="quiz" class="row container-fluid">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Au petit déjeuner</h2>
      <div class="col-container">
        <p class="col-subtitle">Il / elle préfère son café</p>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_1.answ = 1" ng-class="{quizchecked: gift.receiver.survey.quest_1.answ === 1}">
            <p>Noir</p>
          </div>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_1.answ = 2" ng-class="{quizchecked: gift.receiver.survey.quest_1.answ === 2}">
            <p>Sucre</p>
          </div>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_1.answ = 3" ng-class="{quizchecked: gift.receiver.survey.quest_1.answ === 3}">
            <p>Crème</p>
          </div>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_1.answ = 4" ng-class="{quizchecked: gift.receiver.survey.quest_1.answ === 4}">
            <p>Pas de café</p>
          </div>
        <hr class="backgrounded">
        <p class="col-subtitle">Pour se désalterer</p>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_2.answ = 1" ng-class="{quizchecked: gift.receiver.survey.quest_2.answ === 1}">
            <p>Un jus de pamplemousse</p>
          </div>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_2.answ = 2" ng-class="{quizchecked: gift.receiver.survey.quest_2.answ === 2}">
            <p>Un jus de pomme</p>
          </div>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_2.answ = 3" ng-class="{quizchecked: gift.receiver.survey.quest_2.answ === 3}">
            <p>Un jus de fruits exotiques</p>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Ensuite</h2>
      <div class="col-container">
        <p class="col-subtitle">Quelle cuisine préfère-t-il/elle&nbsp;?</p>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_3.answ_1 = !gift.receiver.survey.quest_3.answ_1" ng-class="{quizchecked: gift.receiver.survey.quest_3.answ_1 === true}">
          <p>Française</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_3.answ_2 = !gift.receiver.survey.quest_3.answ_2" ng-class="{quizchecked: gift.receiver.survey.quest_3.answ_2 === true}">
          <p>Italienne</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_3.answ_3 = !gift.receiver.survey.quest_3.answ_3" ng-class="{quizchecked: gift.receiver.survey.quest_3.answ_3 === true}">
          <p>Asiatique</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_3.answ_4 = !gift.receiver.survey.quest_3.answ_4" ng-class="{quizchecked: gift.receiver.survey.quest_3.answ_4 === true}">
          <p>Américaine</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_3.answ_5 = !gift.receiver.survey.quest_3.answ_5" ng-class="{quizchecked: gift.receiver.survey.quest_3.answ_5 === true}">
          <p>Végétarienne</p>
        </div>
        <hr class="backgrounded">
        <p class="col-subtitle">Quelles entrées lui feraient envie&nbsp;?</p>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_4.answ_1 = !gift.receiver.survey.quest_4.answ_1" ng-class="{quizchecked: gift.receiver.survey.quest_4.answ_1 === true}">
          <p>Une assiette d'huîtres</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_4.answ_2 = !gift.receiver.survey.quest_4.answ_2" ng-class="{quizchecked: gift.receiver.survey.quest_4.answ_2 === true}">
          <p>Pain toasté et tapenade d'olives</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_4.answ_3 = !gift.receiver.survey.quest_4.answ_3" ng-class="{quizchecked: gift.receiver.survey.quest_4.answ_3 === true}">
          <p>Foie gras et pain d'épices</p>
        </div>
        <hr class="backgrounded">
        <p class="col-subtitle">Quels desserts lui feraient envie&nbsp;?</p>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_5.answ_1 = !gift.receiver.survey.quest_5.answ_1" ng-class="{quizchecked: gift.receiver.survey.quest_5.answ_1 === true}">
          <p>Millefeuille à la vanille</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_5.answ_2 = !gift.receiver.survey.quest_5.answ_2" ng-class="{quizchecked: gift.receiver.survey.quest_5.answ_2 === true}">
          <p>Ganache au chocolat & canelle</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_5.answ_3 = !gift.receiver.survey.quest_5.answ_3" ng-class="{quizchecked: gift.receiver.survey.quest_5.answ_3 === true}">
          <p>Carpaccio de fruits & sorbet</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Il/elle est plutôt</h2>
      <div class="col-container">
        <p class="col-subtitle">Du rouge</p>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_1 = 2" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_1 === 2}">
            <p>Beaucoup</p>
          </div>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_1 = 1" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_1 === 1}">
            <p>Un peu</p>
          </div>
          <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_1 = 0" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_1 === 0}">
            <p>Pas du tout</p>
          </div>
        <hr class="backgrounded">
        <p class="col-subtitle">Du blanc</p>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_2 = 2" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_2 === 2}">
          <p>Beaucoup</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_2 = 1" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_2 === 1}">
          <p>Un peu</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_2 = 0" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_2 === 0}">
          <p>Pas du tout</p>
        </div>
        <hr class="backgrounded">
        <p class="col-subtitle">Du rosé</p>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_3 = 2" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_3 === 2}">
          <p>Beaucoup</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_3 = 1" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_3 === 1}">
          <p>Un peu</p>
        </div>
        <div class="gift-checkbox" ng-click="gift.receiver.survey.quest_6.answ_3 = 0" ng-class="{quizchecked: gift.receiver.survey.quest_6.answ_3 === 0}">
          <p>Pas du tout</p>
        </div>
        <hr class="backgrounded">
        <p class="col-subtitle">Quelle est sa région préférée&nbsp;?</p>
        <select class="form-control" ng-model="gift.receiver.survey.quest_7.answ" ng-options="region for region in regions"></select>
      </div>
      <div class="btn-block-primary centered margin-top" ng-click="sendSurvey()" >Continuer</div>
    </div>
</div>