  .wine-table-container {
    display: table;
    width: 100%;
  }
  .wine-table-container p {
  font-size: 16px;
  }
  .wine-table-container .logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 78px;
  }
  .wine-table-container .info {
    display: table-cell;
    padding-left: 20px;
  }
  .wine-table-container .info h4 {
    font-weight: 400;
    color: #cb0001;
  }