#gift {
  // background-color: @background-color;
  position: absolute;
  top: @navheight;
  padding: @navheight/4 0;
  left: 0;
  right: 0;
  padding-bottom: @navheight;
}
#gift .background {
  background-color: @background-color;
}
#gift {
  @color-support-strong: #006DB2;
}
#gift input,
#gift textarea,
#gift select {
  border: none;
}
.input-error {
  border: 1px solid rgba(203, 0, 1, 0.2) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(203, 0, 1, 0.2);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(203, 0, 1, 0.2);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#gift {
  /* Small screens (default) */
  p { font-size: 14px; }
  h4 { font-size: 16px; }
  h3 { font-size: 18px; }
  h2 { font-size: 22px; }
  h1 { font-size: 26px; }

  /* Large screens (1024px) */
  @media (min-width: 640px) {
    p { font-size: 16px; }
    h4 { font-size: 18px; }
    h3 { font-size: 20px; }
    h2 { font-size: 24px; }
    h1 { font-size: 30px; }
  }
}
#gift .details-helper {
  padding: 20px;
  font-size: 14px;
}
#gift .dotted-underline {
  border-bottom: 1px dotted #000000;
}
#gift label {
  font-weight: 300;
}
#gift .gift-container {
  background-color: #fff;
  //grid
  .make-xs-column(12);
  .make-md-column(12);
  .make-sm-column(12);
  .make-lg-column(10);
  .make-lg-column-offset(1);
  padding: @navheight/4 @navheight/2;
}
#gift .offset-2 {
  .make-lg-column-offset(2);
  .make-md-column-offset(2);
  .make-sm-column-offset(2);
}
#gift .offset-4 {
  .make-lg-column-offset(4);
  .make-md-column-offset(4);
  .make-sm-column-offset(4);
}
#gift .gift-container > div {
  padding-right: @navheight;
  padding-left: @navheight;
}
.col-fade * {
  opacity: 0.5;
}
#gift .gift-header {
  text-align: center;
}
.gift-second-header {
  padding-top: @navheight;
}
#gift .gift-header h2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}
#gift .gift-continue {
  margin-top:  @navheight;
  text-align: center;
}
#gift .gift-overview {
  margin-top: @navheight;
  margin-bottom: @navheight;
  display: table;
  width: 100%;
}
#gift .gift-overview > div {
  display: table-cell;
  padding-right: 20px;
  width: 50%;
  vertical-align: middle;
}
#gift .gift-spacer {
  height: @navheight;
  background-color: @background-color;
}
#gift .gift-overview > div:last-child {
  text-align: right;
}
#gift .gift-overview .col-title {
  text-align: left;
}
#gift .gift-overview .price {
  text-align: right;
  color: @brand-color;
  font-weight: 400;
}
#gift .gift-choose .row {
  margin-top: @navheight;
  margin-bottom: @navheight;
}
#gift .gift-choose .row h1 {
  margin-bottom: @navheight/2;
}
#gift .gift-choose > div p {
  max-width: 300px;
  margin: @navheight/2 auto;
}
#gift .gift-choose > div {
  text-align: center;
}
#gift .gift-step  {
  font-size: 24px;
  padding: 5px 15px;
  border-radius: 50%;
  color: #FFF;
  background-color: @brand-color;
}
#gift .gift-choose .steps  {
  display: table;
  width: 100%;
}
#gift .gift-choose .steps  > div {
  display: table-cell;
  vertical-align: middle;
}
#gift .gift-choose .steps  > div:first-child {
  width: 80px;
  text-align: center;
}
#gift .gift-choose .steps  > div:last-child {
  text-align: left;
}
#gift .col-title {
    text-align: center;
    color: @brand-color;
}
#gift .col-subtitle {
    text-align: center;
    margin-top: 20px;
}
#gift .col-container {
  padding: 20px;
}
#gift .col-container h3,
#gift .col-container p {
  margin: 0;
}
#gift .col-container-price-level {
  margin-top: 20px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
}
#gift .col-container-price-level > div {
  display: table-cell;
  width: 25%;
  text-align: center;
}

/*
** FORMULE
*/
#gift .col-radio.checked::before {
        position:absolute;
        left: -5px;
        font-family: "fontello";
        font-size: 14px;
        content: "\e808";
        color: @brand-color;
}
#gift .col-radio::before {
        position:absolute;
        left: -5px;
        font-family: "fontello";
        font-size: 14px;
        content: "\e809";
        color: @brand-color;
}
#gift .col-container {
  background-color: @background-color;
}
#gift .checked {
  background-color: @background-strong;
  color: #FFF;
}
#gift .col-container-price-level > div,
#gift .col-container {
  cursor: pointer;
}
#gift .col-container-price-level > div {
  height: @navheight;
  border: 1px solid @background-strong;
  padding: 10px;
  vertical-align: middle;
}
#gift .col-container-price-level .no-border {
  border-right: none;
}
#gift p.help {
  font-size: 12px;
}
#gift .row-totals {
  padding-top: @navheight/2;
}
#gift .free-amount {
  margin-top: @navheight;
  display: table;
  width: 100%;
}
#gift .free-amount > div {
  display: table-cell;
  vertical-align: middle;
}
#gift .free-amount > div:first-child {
  width: 70%;
}
#gift .free-amount > div * {
  display: inline-block;
}
#gift .free-amount > div input {
  width: 60px;
}

/*
** INFOS
*/
#gift .gift-giver,
#gift .gift-receiver {
  margin-top: 20px;
}
#gift .gift-giver > .row,
#gift .gift-receiver > .row {
  margin-top: 10px;
}

#gift .col-tab {
  display: table;
  width: 100%;
}
#gift .col-tab > div {
  padding: 5px;
  display: table-cell;
  width: 50%;
  cursor: pointer;
  vertical-align: middle;
}
#gift .gift-checkbox.infochecked::before {
        position:absolute;
        left: 6px;
        font-family: "fontello";
        font-size: 14px;
        content: "\e805";
        color: @brand-color;
}
#gift .gift-checkbox.info-unchecked::before {
        position:absolute;
        left: 6px;
        font-family: "fontello";
        font-size: 14px;
        content: "\e806";
        color: @brand-color;
}
 #gift .got-a-coupon {
  padding-top: 11.1px;
  padding-bottom: 11.1px;
  p { line-height: 34px;}
}

/*
** QUIZ
*/
#gift .gift-checkbox.quiz-check-on::before {
        position:absolute;
        left: 25px;
        font-family: "fontello";
        font-size: 14px;
        content: "\e805";
        color: @brand-color;
}
#gift .gift-checkbox.quiz-check-off::before {
        position:absolute;
        left: 25px;
        font-family: "fontello";
        font-size: 14px;
        content: "\e806";
        color: @brand-color;
}
#gift .gift-checkbox.quiz-radio-on::before {
        position:absolute;
        left: 25px;
        font-family: "fontello";
        font-size: 14px;
        content: "\e808";
        color: @brand-color;
}
#gift .gift-checkbox.quiz-radio-off::before {
        position:absolute;
        left: 25px;
        font-family: "fontello";
        font-size: 14px;
        content: "\e809";
        color: @brand-color;
}
#gift .gift-checkbox {
      padding-left: 10px;
}
#gift #quiz .col-subtitle {
      font-style: italic;
}
#gift #quiz hr {
      max-width: 100px;
      margin-right: auto;
      margin-left: auto;
}

/*
** PAYMENT
*/

#gift .img-payment {
  height: 236px;
  margin-top: 56px;
  .prefix-background;
  background-image: url(wines-blurred-background.jpg);
}
a.margin-top {
  margin-top: @navheight/2;
}
#gift .test-overlay {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background-color: green;
}
#gift .test-overlay p {
  margin: 2px 10px;
  color: #FFF;
}

/*
** MODAL
*/

.modal-billing p {
    font-size: 16px;
}

/*
** GIFT CARD
*/

#gift-card {
    @media screen {
      background: url(utils/subtle_white_mini_waves.png) repeat;
    }
}
#gift-card > div {
  width: 600px;
  margin: 0 auto;
    @media print {
      width: 80%;
    }
    @media screen {
      padding: 20px;
      border: 1px solid @dark-grey;
      background: none;
      background-color: #FFF;
    }
}
#gift-card ol {
  font-size: 16px;
}
.gift-card-logo {
  width: 33%;
}
#gift-card p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
    @media print {
      font-size: 14px;
    }
}
#gift-card .code,
#gift-card h3 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
    @media print {
      font-size: 16px;
    }
}
#gift-card h2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: @brand-color;
}
#gift-card .greeting {
  padding-top: 20px;
  padding-bottom: 20px;
}
#gift-card .message {
  font-style: italic;
}
#gift-card .img-header {
      width: 60%;
}
#gift-card .gift-card-drawing {
  display: table;
  width: 100%;
}
// #gift-card .gift-card-logo {
//   width: 200px;
// }
#gift-card .gift-card-drawing > div {
  display: table-cell;
  vertical-align: middle;
}
#gift-card .gift-card-drawing > div:last-child {
  padding: 20px;
  width: 70%;
}
#gift-card .gift-card-drawing > div:last-child p {
  margin: 0;
}
#gift-card .tryptic img {
  margin: 0 auto;
}
#gift-card .gift-header {
  border: 4px solid @brand-color;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 50px;
}

  .navbar-nav .dropdown-menu {
    border-radius: 2px;
  }
  .navbar-splash {
    padding: 5px 5px 5px 6.25px;
    background-color: transparent;
    border-color: transparent;
      .brand-image {
        float: left;
        display: inline-block;
      }
      .quick-links {
        float: right;
        display: inline-block;
      }
  }
  .navbar-gift {
    padding: 5px 5px 5px 6.25px;
    background-color: white;
    border: 0 solid #ebebeb;
    border-bottom-width: 1px;
    margin-bottom: 0;
    border-radius: 0;
  }

  @media (max-width: 900px) {
    .nav > li > a {
      display: inline-block;
      padding: 10px 5px;
    }
  }

    .navbar-fixed-top .navbar-collapse {
      padding-left: 15px;
      padding-right: 15px;
    }

  .navbar-toggle {
    border-color: #ebebeb;

    .icon-bar {
      background-color: #ebebeb;
    }
  }
  .navbar-gift li > a {
    font-family: 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: block !important;
  }
  .navbar-gift li > a:hover, .navbar-gift li > a:focus {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    color: @color-support-strong;
  }
  .navbar-gift .btn-navbar-cta {
    border: 1px solid @color-support-strong;
    color: @color-support-strong;
  }
  .navbar-gift .btn-navbar-cta:hover,
  .navbar-gift .btn-navbar-cta:focus {
    background-color: c;
    color: #FFF;
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
  }

  .navbar-nav > li > .dropdown-menu {
    margin-top: 7px;
    border-color: #FFF;
  }
.christmas {
  background-color: @color-support-strong;
  color: #fff;
  margin-top: -14px;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 9999;
}
.christmas p {
  margin-bottom: 0;
}