<form name="winemakerForm">
  <div class="section-svi">
    <div class="container">
      <h3 class="svi-header--white">Ajouter un domaine</h3>
      <div class="table">
        <div class="table-cell">
          <div class="form-group">
            <label class="svi-label svi-label--white" for="winemaker_name">Nom du producteur *</label>
            <input ng-model="winemaker.winemaker_name" class="form-control">
          </div>
          <div class="form-group">
            <label class="svi-label svi-label--white" for="region">Région *</label>
            <input type="text" ng-model="winemaker.region" class="form-control">
          </div>
        </div>
        <div class="table-cell table-cell--bottom">
          <div class="form-group">
            <label class="svi-label svi-label--white" for="region">Appellation Principale</label>
            <div mass-autocomplete>
              <input ng-model="winemaker.appellation" class="form-control" mass-autocomplete-item="ac_fuse_options">
            </div>
          </div>
        </div>
        <div class="table-cell centered">
          <img src="assets/svi/logo.svg" alt="">
        </div>
      </div>
      <div  class="svi-padding-border">
        <div class="form-group">
            <label class="svi-label svi-label--white" for="region">Description</label>
            <textarea rows="4" ng-model="winemaker.description" class="form-control" placeholder="Quelques lignes pour décrire votre domaine. Un peu d'histoire, de terroir ou de géographie pour intéresser les visiteurs"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="centered section-svi--white">
      <button class="button-svi" ng-click="goToWineForm(winemaker)">Ajouter un vin</button>
      <button class="button-svi" ng-if="winemaker.wines.length" ng-click="validateWinemaker(winemaker)">Valider</button>
  </div>
</form>