<div class="centered section-svi">
  <p><img src="assets/svi/logo.svg" alt=""></p>
  <p class="svi-label--white centered">Bienvenue dans l'espace vignerons indépendants</p>
  <p class="help help--white">Merci de rentrer votre email pour commencer</p>
  <div class="centered-content">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="email">
    </div>
  </div>
</div>
<div class="centered section-svi section-svi--white">
    <button class="button-svi" ng-click="query(email)">Démarrer ma fiche</button>
</div>