@color-svi: #AE0035;
@color-svi-support: #24AFB2;
#svi .container {
  max-width: 970px;
}
#svi .button-svi {
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  padding: 8px 14px 7px;
  border: 2px solid  @color-svi;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: @color-svi;
  vertical-align: middle;
  border-bottom-color: rgba(0,0,0,0.40);
}
#svi .button-svi:hover {
  border-bottom-color: transparent !important;
}
#svi .button-svi::not([disabled]):active {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
#svi .section-svi {
  background-color: @color-svi;
  padding: 20px;

    &--white {
      background-color: #fff;
    }
    &--support {
      background-color: #24AFB2;
    }
}
#svi .svi-header {
    &--white {
      color: #fff;
    }
}
#svi .svi-label {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;

    &--white {
      color: #fff;
    }
}
#svi .help {
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;

    &--white {
      color: #fff;
    }
}
#svi input {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#svi .checkbox {
  font-size: 16px;
}
#svi .centered-content input,
#svi .centered-content button,
#svi .centered-content select,
#svi .centered-content div {
  margin: 0 auto;
}
#svi .table {
  display: table;
  width: 100%;
}
#svi .table-cell {
  // padding: 0 20px;
  display: table-cell;
  vertical-align: middle;

    &--bottom {
      vertical-align: bottom;
    }

    &--top {
      vertical-align: top;
    }

    &:nth-child(odd) {
      padding-right: 10px;
    }
    &:nth-child(even) {
      padding-left: 10px;
    }
}
#svi .item-note {
  float: right;
  font-size: 14px;
}
#svi .svi-padding-border {
  // padding: 0 20px;
}
#svi table > tbody > tr > td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#svi table > tbody > tr > td * {
  vertical-align: middle;
}
#svi table p {
  margin: 10px 0;
}
#svi table thead .svi-label{
  font-weight: 500;
}
#svi .bottle-logo {
  height: 40px;
}
#svi .clickable {
  border-bottom: 1px dotted @color-svi;
  cursor: pointer;

    &--white {
      border-bottom-color: #fff;
    }
    &:hover {
      border-bottom-style: solid;
    }
}
#svi .ac-container .ac-menu a {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}