<div class="gift-header">
  <h1>offrir un vinibar</h1>
  <h2>Je choisis la formule que j'offre</h2>
</div>
<div class="row container-fluid">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Vinibar</h2>
      <div class="col-container checked">
        <h3>Vinibar</h3>
        <p class="price">69 €</p>
      </div>
      <p class="details-helper">Choisissez ici la formule que vous souhaitez offir. Vous pouvez ajouter des crédits à votre cadeau pour permettre de recharger le Vinibar.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Crédits</h2>
      <div class="col-container">
        <div class="gift-checkbox" ng-click="details.credits = !details.credits " ng-class="{quizchecked: details.credits}">
          <p>Ajoutez des crédits pour recharger son vinibar</p>
        </div>
        <div ng-show="details.credits" class="col-container-price-level">
          <div ng-class="{checked: gift.order.credits === 40 }"
                    class="no-border"
                    ng-click="gift.order.credits = 40 ">
            <p>40 €<p>
          </div>
          <div ng-class="{checked: gift.order.credits === 60 }"
                    class="no-border"
                    ng-click="gift.order.credits = 60 ">
            <p>60 €<p>
          </div>
          <div ng-class="{checked: gift.order.credits === 100 }"
                    ng-click="gift.order.credits = 100 ">
            <p>100 €<p>
          </div>
        </div>
        <div ng-show="details.credits" class="free-amount">
          <div><p class="col-subtitle">Ou rentrez montant de votre choix</p></div>
          <div><input type="number" class="form-control" ng-model="gift.order.credits"> <p>€</p></div>
        </div>
<!--         <p class="col-subtitle">Prix des recharges
          <a href="#" tooltip="Le Vinibar est entièrement personnalisé, et le prix des recharges aussi"><i class="fa fa-info-circle"></i></a></p>
        <div class="col-container-price-level">
          <div ng-class="{checked: details.credits.price_level === 29.90 }"
                    class="no-border"
                    ng-click="details.credits.price_level = 29.90 ">
            <p>29€90</p>
          </div>
          <div ng-class="{checked: details.credits.price_level === 39.90 }"
                    class="no-border"
                    ng-click="details.credits.price_level = 39.90 ">
            <p>39€90</p>
          </div>
          <div ng-class="{checked: details.credits.price_level === 49.90 }"
                    ng-click="details.credits.price_level = 49.90 ">
            <p>49€90</p>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h2 class="col-title">Livraison</h2>
      <div class="col-container"
          ng-class="{checked: gift.order.delivery_mode === 'Email' }"
          ng-click="gift.order.delivery_mode = 'Email' ">
        <h3>Par Email</h3>
        <p class="help">Un email sera envoyé à la date suivante pour le prévenir de votre cadeau: (à la fin de la commande si vide)</p>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <select class="form-control" ng-model="sendDate.day" name="day">
            <option value="">JJ</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <select class="form-control" ng-model="sendDate.month" name="month">
            <option value="">MM</option>
            <option value="1">Janvier</option>
            <option value="2">Février</option>
            <option value="3">Mars</option>
            <option value="4">Avril</option>
            <option value="5">Mai</option>
            <option value="6">Juin</option>
            <option value="7">Juillet</option>
            <option value="8">Aout</option>
            <option value="9">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Décembre</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <select class="form-control" ng-model="sendDate.year" name="month">
            <option value="">AAAA</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-container"
          ng-class="{checked: gift.order.delivery_mode === 'Print' }"
          ng-click="gift.order.delivery_mode = 'Print'">
        <h3>Bon Cadeau</h3>
        <p class="help">Imprimez le bon cadeau et offrez le quand vous le voulez.</p>
      </div>
      <div class="col-container"
          ng-class="{checked: gift.order.delivery_mode === 'Card' }"
          ng-click="gift.order.delivery_mode = 'Card' ">
        <h3>Par la Poste (+5€)</h3>
        <p class="help">Vinify enverra une carte postale manuscrite avec votre mot à l'addresse de votre choix.</p>
      </div>
    </div>
  </div>
  <div class="row container-fluid row-totals">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="col-container">
        <p class="col-subtitle">Prix du bar</p>
        <p class="centered">69 €</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="col-container">
        <p class="col-subtitle">Total de crédits</p>
        <p class="centered">{{gift.order.credits | number:2}} €</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="col-container centered">
        <p>Total de la commande</p>
        <p>{{details.total + gift.order.credits | number:2}} €</p>
      </div>
      <div class="btn-block-primary centered margin-top" ui-sref="gift.gift_card.infos"><p>Continuer</p></div>
    </div>
  </div>
