<!DOCTYPE html>
<html ng-app="vinibar" ng-controller="AppCtrl">
	<head>
		<title ng-bind="pageTitle"></title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- social media tags -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="vinify.co">
		<meta name="twitter:title" content="Vinify | Commander mon Vinibar">
		<meta name="twitter:description" content="9 bouteilles choisies pour moi, selon mes goûts">
		<meta name="twitter:creator" content="Vinify">
		<meta name="twitter:image:src" content="http://www.vinify.co/img/LogoVinifyMini2.png">
		<meta property="og:title" content="Vinify | Commander mon Vinibar" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://app.vinify.co" />
		<meta property="og:image" content="http://www.vinify.co/img/LogoVinifyMini2.png" />
		<meta property="og:description" content="9 bouteilles choisies pour moi, selon mes goûts">

		<!-- font awesome from BootstrapCDN -->
		<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


		<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
		<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
		<script type="text/javascript" src="<%= file %>"></script><% }); %>

		<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
		for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
		mixpanel.init("61669544c576e6ddf06711e2af137c1a", { track_pageview: false });</script><!-- end Mixpanel -->

	</head>
	<body>


		<div ui-view="main" id="main-container"></div>
		<div class="loading-container" ng-show="loading">
		  <div class="spinner">
		    <div class="spinner-container container1">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container2">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container3">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		  </div>
		</div>
		<script src="https://code.jquery.com/jquery-1.9.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="https://widget.mondialrelay.com/parcelshop-picker/v3_0/scripts/jquery.plugin.mondialrelay.parcelshoppicker.min.js"></script>
		<script src="https://checkout.stripe.com/checkout.js"></script>W
	</body>
</html>
