<div class="background-order" id="order-mobile">
  <nav class="navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
         <a href=""><img alt="" src="assets/logo.png" style="height:45px"/></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href=""><img alt="" src="assets/oclipboard.png" class="opacity-link" style="height:45px"/></a></li>
          <li ng-if="state == 'order.userinfos'"><a href=""><img alt="" src="assets/dolly.png" style="height:45px"/></a></li>
          <li ng-if="!(state == 'order.userinfos')"><a href=""><img alt="" class="opacity-link" src="assets/odolly.png" style="height:45px"/></a></li>
          <li ng-if="state == 'order.paiement'"><a href=""><img alt="" src="assets/creditcard.png" style="height:45px"/></a></li>
          <li ng-hide="state == 'order.paiement'"><a href=""><img alt="" class="opacity-link" src="assets/ocreditcard.png" style="height:45px"/></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="container-delivery-checkout-less">
    <toaster-container toaster-options="{'time-out': 4000, 'position-class': 'toast-top-right'}"></toaster-container>
    <h3 class="centered">Merci de vérifier vos informations</h3>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 form-infos u-padding">
      <div class="main-container">
        <div class="row row-paiement">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div ng-if="!validate" class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 centered">
                    <h4>Adresse de Livraison</h4>
                    <hr>
                    <p class="">{{client.userinfos.first_name}} {{client.userinfos.last_name}}</p>
                    <p>{{client.email}}</p>
                    <p>{{client.userinfos.delivery_address.street}}<br>
                    {{client.userinfos.delivery_address.zipcode}} {{client.userinfos.delivery_address.city}}</p>
                    <p class="picked-relay" ng-if="delivery.mode === 'Point Relais' && selected.shop">
                      Point Relais: {{shop.Nom}} - {{shop.Ville}}
                    </p>
                  </div>
                  <hr class="visible-sm visible-xs">
                  <div class="col-lg-4 col-md-4 col-sm-12 centered">
                    <h4>Mode de Livraison</h4>
                    <hr>
                    <table class="table-deliv-mode">
                        <tr ng-click="updateOrder(1)">
                          <td colspan="2"><p>
                            <i ng-if="delivery.mode === 'Point Relais' " class="icon icon-dot-circled"></i>
                            <i ng-if="delivery.mode != 'Point Relais' " class="icon icon-circle-empty"></i>
                             <span class="strong">Point Relais</span><br>
                              <small class="indent">Livraison en 3 - 4j ouvrés</small>
                          </p></td>
                        </tr>
                        <tr ng-click="updateOrder(2)">
                          <td colspan="2"><p>
                            <i ng-if="delivery.mode === 'Colissimo' " class="icon icon-dot-circled"></i>
                            <i ng-if="delivery.mode != 'Colissimo' " class="icon icon-circle-empty"></i>
                             <span class="strong">Colissimo Suivi</span><br>
                              <small class="indent">Livraison en 2 - 3j ouvrés</small>
                          </p></td>
                        </tr>
                        <tr ng-click="updateOrder(3)">
                          <td colspan="2"><p>
                            <i ng-if="delivery.mode === 'Vinify' " class="icon icon-dot-circled"></i>
                            <i ng-if="delivery.mode != 'Vinify' " class="icon icon-circle-empty"></i>
                             <span class="strong">Retrait Vinify</span> <span class="small">à partir de demain midi</span><br>
                             <small class="indent">135 rue jean jacques rousseau, 92130 Issy</small>
                          </p></td>
                        </tr>
<!--                         <tr ng-click="chooseExpress(delivery.mode)">
                          <td colspan="2"><p>
                            <i ng-if="isExpress(delivery.mode)" class="icon icon-dot-circled"></i>
                            <i ng-if="!isExpress(delivery.mode)" class="icon icon-circle-empty"></i>
                             <span class="strong">Livraison Express Paris</span><br>
                             <small class="indent">Je reçois mon bar <span class="p-highlight"> chez moi {{beforeNoon()}},</span></small>
                          </p></td>
                        </tr>
                        <tr>
                          <td ng-click="updateOrder(4)"><p class="indent">
                             <small class="schedule" ng-class="{'selected-schedule': delivery.mode === 'express_1'} ">16h30 - 18h</small>
                          </p></td>
                          <td ng-click="updateOrder(5)"><p class="indent">
                            <small class="schedule" ng-class="{'selected-schedule': delivery.mode === 'express_2'} ">19h00 - 21h30</small>
                          </p></td>
                        </tr> -->
                    </table>
                  </div>
                  <hr class="visible-sm visible-xs">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                       <h4 class="centered">Commande</h4>
                       <hr>
                      <table class="table-bill">
                          <tr>
                            <td><p>{{client.order_type}} </p></td>
                            <td><p>{{client.order.amount}}&nbsp;€</p></td>
                          </tr>
                          <tr>
                            <td><p>Livraison </p></td>
                            <td>
                              <p>
                                {{delivery.cost}}&nbsp;€
                              </p>
                            </td>
                          </tr>
<!--                               <tr ng-show="client.order.coupon.value && client.order.coupon.coupon_type != 'Percentage' ">
                            <td><p>Promo </p></td>
                            <td><p>- {{client.order.coupon.value}}&nbsp;€</p></td>
                          </tr> -->
                          <tr  class="bill-total">
                            <td><p>Total </p></td>
                            <td><p>{{client.order.amount + delivery.cost | number:1}}&nbsp;€</p></td>
                          </tr>
                      </table>
                  </div>
                  <hr>
              </div>
              <div class="row centered">
                <div class="col-lg-4 pull-right">
                  <button class="btn-block-primary margin-top" ng-hide="validate || (delivery.mode === 'Point Relais' && !selected.shop)" ng-click="validate = true">Valider</button>
                </div>
              </div>

            <!-- Point Relais -->
            <div id="relay-picker" ng-show="delivery.mode === 'Point Relais' && !selected.shop" class="row">
              <div id="mondialrelay-widget">
                  <div id="Zone_Widget"></div>
                  <input type="text" id="Retour_Widget" style="display:none" class=""/>
                  <div class="col-lg-3 pull-right"><button class="btn-block-primary" class="centered" ng-click="validateShop()">OK</button></div>
              </div>
            </div>

            <!-- Paiement -->
            <div ng-if="validate" class="row">
             <form name="stripe-form" id="stripe-form" stripe-form="submit">
             <h4 class="centered">Vos coordonnées de paiement</h4>
               <div class="row item">
                 <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      <label for="">Numéro de carte</label>
                     <i class="icon ion-card"></i> <input class="form-control" type="text" name="number" id="number" ng-model="number" placeholder="XXXX XXXX XXXX XXXX" payments-validate="card" payments-type-model="type" payments-format="card"  required/>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <label for="">CVC</label>
                     <i class="icon ion-locked"></i> <input class="form-control" type="text" name="cvc" id="cvc" ng-model="cvc" placeholder="XXX" payments-validate="cvc" payments-format="cvc" required/>
                 </div>
               </div>
               <div class="row item">
                 <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

                     <label for="">Mois</label>
                     <select class="form-control" name="expMonth" ng-model="expMonth" placeholder="MM"required>
                       <option value="01">Janvier</option>
                       <option value="02">Février</option>
                       <option value="03">Mars</option>
                       <option value="04">Avril</option>
                       <option value="05">Mai</option>
                       <option value="06">Juin</option>
                       <option value="07">Juillet</option>
                       <option value="08">Août</option>
                       <option value="09">Septembre</option>
                       <option value="10">Octobre</option>
                       <option value="11">Novembre</option>
                       <option value="12">Décembre</option>
                     </select>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                     <label for="">Année</label>
                     <select class="form-control" name="expYear" ng-model="expYear" required>
                       <option>2014</option>
                       <option>2015</option>
                       <option>2016</option>
                       <option>2017</option>
                       <option>2018</option>
                       <option>2019</option>
                       <option>2020</option>
                     </select>
                 </div>
               </div>
               <div class="row row-submit centered">
                <hr>
                <div class="hidden"><input type="text" name="name" ng-model="name"/></div>
                <button class="btn-block-primary" value="submit">Commander mes vins</button>
               </div>
               <div class="row centered">
                 <img src="assets/credit_cards.png" alt=""> <i class="fa icon-lock"></i> SSL Secure
                  <div class="centered"><a href ui-sref="order.userinfos">Modifier</a></div>
               </div>
             </form>
            </div>
          </div>
        </div>    <!-- ROW -->
      </div>
    </div>
  </div>
</div>

